<%= javascript_include_tag('task_board', :plugin => 'redmine_task_board') %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'jquery.tooltip.css', :plugin => 'redmine_task_board' %>
    <%= javascript_include_tag 'jquery.tooltip.min.js', :plugin => 'redmine_task_board' %>
<% end %>

<table id="filters-table">
  <tr class="filter">
    <td class="field">
      <label for='search'><%= l(:label_search) %></label>
    </td>
    <td class="operator">
      <input type="text" id="filter_search" value=""/>
      <label for="from">De</label>
      <input type="text" id="from" name="from" />
      <label for="to">à</label>
      <input type="text" id="to" name="to" />
    </td>
  </tr>
  <tr class="filter" id="tr_status_id">
    <td class="field">
      <label for='user_filter'><%= l(:field_project) %></label>
    </td>
    <td class="operator">
      <%= parent_project_select_tag(@project) %>
      <label id="label_chk_sub_project"><input type="checkbox" id="include_sub_project" value="1" checked> Inclure les sous-projet</label>
    </td>
  </tr>
  <tr class="filter" id="tr_status_id">
    <td class="field">
      <label for='creator_filter'><%= l(:field_author) %></label>
    </td>
    <td class="operator">
      <%= select_tag('filter[creator_id]', content_tag('option', ucfirst(l(:label_all)), :value => '') +
                                 principals_options_for_select(@project)) %>
    </td>
  </tr>
  <tr class="filter" id="tr_status_id">
    <td class="field">
      <label for='user_filter'><%= l(:field_assigned_to) %></label>
    </td>
    <td class="operator">
      <%= select_tag('filter[user_id]', content_tag('option', ucfirst(l(:label_all)), :value => '') +
                                 content_tag('option', ucfirst(l(:label_nobody)), :value => 'none') +
                                 principals_options_for_select(@project)) %>
    </td>
  </tr>  
</table>


<p id="evolutions" class="sample yellow">Evolutions</p>
<p id="bug" class="sample pink">Bugs</p>
<p id="critical_date" class="sample green">A faire dans moins de 3 jours</p>
<input type="hidden" id="filter_type_tracker"/>

<%= sub_project_fields(@project) %>

<div id="taskboard-buttons">
  <input type="button" id="edit-issues" value="<%= translate :task_board_issue_bulk_edit %>" />
  <input type="button" id="archive-issues" value="<%= translate :task_board_issue_bulk_archive %>" />
  <input type="button" id="delete-issues" value="<%= translate :task_board_issue_bulk_delete %>" />
</div>

<div class="taskboard-wrapper" id="sortable-root">
  <% @columns.each do|column| %>
    <div class="taskboard-pane">
    <% 
    issues = column.issues
    arr = column.title.split('|')
    title=arr[0]
    tooltip = ""
    team = ""
    if arr.count > 1
      tooltip << arr[1]
    end
    if arr.count > 2
      team << "[" + arr[2] + "]"
    end
    %>
      <h4><%= team %></h4>
      <h2 id="column_title"><a title="<%= tooltip %>" href="#"><%= title %> (<%= column.issues_count %><% if column.max_issues>0 %> / <%= column.max_issues %> <% end %>)</a></h2>
      <% issues.each do |status_id, issues| %>
        <% unless column.issues.size == 1 %>
          <h3 class="status"><%= @status_names[status_id] %></h3>
        <% end %>
        <ul data-status-id="<%= status_id %>" data-max-issues="<%= column.max_issues %>" id="column_<%= status_id %>"<% if issues.empty? %> class="empty"<% end %>>
          <% issues.each do|issue| %>
            <li class="card priority-<%= issue.priority.id.to_s %> <%= issue.tracker.name.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %> <% if show_critical_date(issue.due_date) %>critical_date<% end %>" id="issue_<%= issue.id %>" data-issue-id="<%= issue.id %>" data-weight="<%= issue.weight %>" data-status-id="<%= issue.status_id %>" 
              data-author-id="<%= issue.author_id %>"
              data-project-id="<%= issue.project_id %>"
              data-label="<%= issue.subject.downcase %>"
              data-date-start="<%= issue.created_on.strftime('%Y-%m-%d') %>"
              data-date-end="<%if issue.due_date %><%= issue.due_date.strftime('%Y-%m-%d') %><% end %>"
              data-author-label="<%= issue.author.name.downcase %>"
              data-assignee-id="<% if defined? issue.assigned_to.name %><%= issue.assigned_to.id %><%else%><%= "none" %><% end %>"
              data-assignee-label="<% if defined? issue.assigned_to.name %><%= issue.assigned_to.name.downcase %><% end%>"
              >
              <div class="issue">
                <% if issue.estimated_hours.to_i > 0 %>
                  <div class="estimate_time"><%= issue.estimated_hours %> h</div>
                <% end %>
                <div class="issue-heading">
                  <p class="issue-number meta">
                    <input type="checkbox" name="ids[]" value="<%= issue.id.to_s %>" />
                    <%= format_date(issue.created_on) %> > <b><u><%if issue.due_date %><%= format_date(issue.due_date) %><%else%>?<% end %></u></b>
                  </p>
                </div>
                <p class="issue-priority">
                  <%= issue.priority.name %>
                </p>  
                <h3><a title="<%= issue.description %>"><%= issue.subject %></a></h3>
                <p class="meta">
                  <% if issue.done_ratio.to_i > 0 %>
                  <%= progress_bar(issue.done_ratio, :width => '180px', :legend => "#{issue.done_ratio}%", :class => 'progress') %>
                  <% end %>
                  <%= show_project_path(issue,@project) %>
                </p>
                <p class="meta">
                  <%= link_to issue.author.name, :controller => :users, :action => :show, :id => issue.author.id %>
                  <% if defined? issue.assigned_to.name %>
                        >
                        <%= link_to issue.assigned_to.name, :controller => :users, :action => :show, :id => issue.assigned_to.id %>
                  <% end %>
                </p>
                <div class="issue-footer">
                  <%= link_to "#{issue.tracker} ##{issue.id.to_s}", :controller => :issues, :action => :show, :id => issue.id %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var project_save_url = '/projects/<%= @project.id %>/taskboard/save';
  var project_archive_url = '/projects/<%= @project.id %>/taskboard/archive-issues';
  var project_delete_url = '/projects/<%= @project.id %>/taskboard/delete-issues';
  var sections = [];
  $('#sortable-root .taskboard-pane ul').each(function() {
    sections.push($(this).attr('id'));
  });
  for (var i in sections) {
    new TaskBoardPane(sections[i], {
      connectWith: '#sortable-root .taskboard-pane ul', 
      constraint: false, 
      scroll: true, 
      dropOnEmpty: true, 
      revert: 'valid', 
      cursor: 'move',
      helper: 'clone',
      appendTo: "body",
      scrollSensitivity: 100, scrollSpeed: 50,
      items: '> .card',
      opacity: 0.8,
      placeholder: {
        element: function(currentItem) {
            var height = currentItem.height();
            return $('<li class="placeHolder" style="line-height:'+height+'px;height:'+height+'px">Glisser ici ...</li>')[0];
        },
        update: function(container, p) {
            return;
        }
    }

    });
  }
  TaskBoardUtils.checkboxListener();
  TaskBoardUtils.comboboxListeners();
  //Sortable.create('sortable-root', {tree: true, dropOnEmpty: true, constraint: false, overlap: 'vertical'});

  // Init content div
  document.getElementById('content').style.width = '<%= @columns.count*260 %>px';

  $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      dateFormat:$.datepicker.W3C,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      dateFormat:$.datepicker.W3C,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });

    $( "#column_title a" ).tooltip();
    $( "h3 a" ).tooltip({
      position: {
        my: "center bottom-20",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'taskboard', :plugin => 'redmine_task_board' %>
<% end %>